body {
    color: #888;
    font-size: 18px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    background: #f3f3f3;
}
.features-container {
    position: relative;
    height: 490px; 
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-control {
    position: absolute;
    width: 80px;
    color: #000;
    background: none !important;   
}
.carousel-control.left {
    left: -80px;
}
.carousel-control.right {
    right: -80px;
}
.carousel .carousel-inner,
.carousel .item,
.carousel .content {
    height: 100%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    text-align: center;
    background: #00d7b2;
}
.content-green .close-btn {
    background: #fff;   
}
.close-btn:hover {
    background: #494b52;
    color: #fff;   
}

.content {
    padding: 30px;
}
.content h2 {
    font-size: 28px;
    margin: 0 0 5px;
}
.content-green {
    background: #00d7b2;   
}
.content-green h2 {
    color: #fff;
}
.content-yellow {
    background: #ffcb4a;   
}
.content-yellow h2 {
    color: #333;
}
.content-white {
    background: #fff;
}
.content-white h2 {
    color: #333;
}
.content-grey {
    background: #494b52;
}
.content-grey h2 {
    color: #fff;
}
.content-red {
    background: #ff5a55;
}
.content-red h2 {
    color: #fff;
}
.content-white-green {
    background: #fff;
}
.content-white-green h2 {
    color: #00d7b2;
}

.grid > :first-child {
    margin-bottom: 30px;   
}
.grid .row > * {
    position: static;
}
.grid .content {
    height: 230px;
    cursor: pointer;
}
.grid .content.animate {
    transition: all 0.4s ease;
}
.grid .content.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.feature-img {
    float: right;
    margin: -30px -30px 0 30px;
    width: calc(50% + 30px);
    height: 490px;
}

@media (max-width: 768px) {
    .features-container {
        height: 390px; 
    }
    .grid .content {
        padding: 15px;
        height: 180px;
    }
    .content h2 {
        font-size: 18px;
    }
    .content p {
        font-size: 13px;
    }
}
